@model ATASP2021.Models.ProcessadorViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Processador</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProcessador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeProcessador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cores)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cores)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Threads)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Threads)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BaseFrequency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BaseFrequency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LaunchDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LaunchDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fabricante.NomeFabricante)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
